<!DOCTYPE html>
<html>
	<head>
			<title>Accepted Donations-The Cheng Foundation</title>
	</head>
	<body class="small_top">
		<h1 class="imp_text cent_text pg_head">  <strong>Accepted Donations</strong> </h1>
		<h4 class="cent_text">Check in daily to receive that latest updates on which grant applications the Cheng Grant Organization has accepted.</h4> 
		<h4 class="cent_text">(Click on the arrows to view / collapse responses)</h4>
		<div class="panel panel-default col-lg-8 col-lg-offset-2 med_pad_bot">
			<div class="panel-heading close_lead">
				<h3 class="panel-title cent_text">Leaderboard<span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
			</div>
			<div class="panel-body close_lead_this">
				<p class="imp_text">Top 10 scores arranged based on best composite application score (/100) to worst composite score.</p>
				<ul class="imp_text no_bullets">
					<li><strong>1)</strong> Rishi Das</li>
					<li><strong>2)</strong> Jason Shaw</li>
					<li><strong>3)</strong> Allison Li</li>
					<li><strong>4)</strong> Nicole Segaran</li>
					<li><strong>5)</strong> Jace Loncharich</li>
					<li><strong>6)</strong> Hannah Glazier</li>
					<li><strong>7)</strong> Aakash Roy</li>
					<li><strong>8)</strong> Satvik Kumar</li>													
					<li><strong>9)</strong> Amy Tian</li>
					<li><strong>10)</strong> Gowtham Manikandan</li>										
				</ul>
			</div>
		</div>
		<div class="panel panel-default col-lg-8 col-lg-offset-2 med_pad_bot">
			<div class="panel-heading close_resp">
				<h3 class="panel-title cent_text">Accepted Donation Responses<span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
			</div>
			<div class="panel-body close_resp_this collapse">
				<p class="imp_text">Here are some of our highest scoring applications! We strongly recommend studying off of them.</p>
				<!-- add carousel right here, and make sure jquery exists on this page -->
				<div id="theCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Define how many slides to put in the carousel, order list containing this, plus connects pack to carousel class-->
				  <ol class="carousel-indicators">
				    <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
				    <li data-target="#theCarousel" data-slide-to="1"> </li>
				    <li data-target="#theCarousel" data-slide-to="2"></li>
				    <li data-target="#theCarousel" data-slide-to="3"></li>				    
				  </ol>
				  <!-- Define the text to place over the image, ordered list w/ captions + buttons-->
					<div class="carousel-inner">
					    <div class="item active">
					    <!-- <img src="images/Cheng_Building.JPG" alt="Building"> -->
						    <div class ="slide1">
								<img class="slide_image" src="images/Aakash_Accepted.PNG" alt="Aakash">
								<div class="carousel-caption">
								</div>
						  	</div>
						</div>
					  	<div class="item">
						  	<div class="slide2">
						  		<img class="slide_image" src="images/Hannah_Accepted.JPG" alt="Hannah">
						  		<div class="carousel-caption">
						  		</div>
					  		</div>
						</div>
						<div class="item">
							<div class="slide3">
								<img class="slide_image" src="images/Jason_Accepted.png" alt="empty">
						    	<div class="carousel-caption">
						    	</div>
							</div>
						</div>
						<div class="item">
							<div class="slide4">
								<img class="slide_image" src="images/Satvik_Accepted.JPG" alt="Satvik">
								<div class="carousel-caption">
								</div>
							</div>
						</div>						
					  <!-- Set the actions to take when the arrows are clicked -->
						  <a class="left carousel-control" href="#theCarousel" data-slide="prev">
						  	<span class="glyphicon glyphicon-chevron-left"> </span>
						  </a>
						  <a class="right carousel-control" href="#theCarousel" data-slide="next">
						  	<span class="glyphicon glyphicon-chevron-right"></span>
						  </a>
					</div>
				</div>
			</div>
		</div>
		<div class="bot_box med_pad_bot pad_top">
			<p>&nbsp &nbsp &nbsp &nbsp &nbsp </p>
		</div>				
	</body>
	<script>
		$(document).ready(function(){
		function change_resp_credits(){
			$(".close_resp_this").fadeToggle(200); 
		} 
		function change_lead_credits(){
			$(".close_lead_this").fadeToggle(200);
		}
		// change_credits_init() 
		$('.close_resp').on("click",change_resp_credits)
		$('.close_lead').on("click",change_lead_credits)
	});
	</script>
</html>