<!DOCTYPE html>
<html>
	<head>
			<title>Contact Us-The Cheng Foundation</title>
	</head>
	<body class="big_top">
		<h1 class="imp_text cent_text pg_head"><strong>Contact Us</strong></h1>
		<h4 class="cent_text small_pad_bot">Have any questions about the future of the Cheng Foudation? Share them with us through our holding company, Apperun Technologies!</h4>
	  	<div class = "cent_text pad_bot ">
	  		<p><a class="btn btn-primary btn-lg" href="http://apperun.com/contactus" role="button" target = "_blank">Contact Apperun Technologies</a></p>
	  	</div>		
		<div class="panel panel-default col-lg-8 col-lg-offset-2 med_pad_bot">
			<div class="panel-heading close_cred ">
				<h3 class="panel-title cent_text">Credits / Additional Information <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
			</div>
			<div class="panel-body close_this">
				<p class="imp_text med_print"><strong>Credits:</strong></p>
				<p class="imp_text">Please thank the following people for their service toward the Cheng Foundation site.</p>
				<ul class="imp_text custom-bullet">
					<li>Mrs. Hargrove, Mr.Bennett, Hannah Glazier, Jace Loncharich, Dalton Thompson, Nicholas Gemelas: Advertising / Outreach</li>					
					<li>Barry Wei, Kevin Chen, Allen Zheng, Daniel Lee, Julien Zhu, Sathvik Madduri, Jason Shaw: Testimonials</li>
					<li>Anthony Ou, Parker Jou, Justin Yu, Jeffrey Liu: Testing and Feedback</li>	
					<li>Jason Shaw, Sathvik Madduri, Allen Zhang: Program Partners</li>					
					<li>Jason Shaw: Photos, About Us, and Funding</li>
					<li>Gowtham Manikandan: Photos and About Us</li>
					<li>William Cheng: Cheng Foundation Member</li>					
					<li>Joseph Paavola: Proofreading</li>
					<li>Kevin Chen: Photos</li>
				</ul>
				<p class="imp_text med_print"><strong>Additional Information:</strong></p>
				<p class="imp_text">Site intended as a satirical critique on the United States' historical infatuation with wealth and the people who hold it, as well as a critique of the Gospel of Wealth and Social Darwinism.</p>
				<p class="imp_text">Site created from scratch using Bootstrap in conjunction with HTML, CSS, and JQuery with an attempted focus on a gray-based old-school (late 2000s) aesthetic.</p>
				<p class='imp_text'>Undertaken by Pranav Sriram and Darrell Cheng for a <strong>2017 APUSH Project</strong></p>
			</div>
		</div>
		<div class="bot_box med_pad_bot pad_top">
			<p>&nbsp &nbsp &nbsp &nbsp &nbsp </p>
		</div>
	</body>
	<script>
	$(document).ready(function(){

		function change_credits(){
			$(".close_this").fadeToggle(200); 
		}

		
		$('.close_cred').on("click",change_credits)
	});
	</script>
</html>