<!DOCTYPE html>
<html>
	<head>
			<title>Our Work-The Cheng Foundation</title>
	</head>
	<body class="big_top">
		<h1 class="imp_text cent_text pg_head"><strong>Our Work</strong></h1>
		<h4 class="cent_text">Here's some in-depth information about a few of our various projects here at the Cheng Foundation.</h4> 
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The CII Project</h1>
			  	<p>The CII (Cultural Immigration and Integration) Project is the newest Cheng Foundation venture, through which the organization strives to increase cultural awareness.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="https://kb.construction-institute.org/" role="button" target="_blank">Join the CII Project</a></p>
			  	</div>
			</div>
		</div>	
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Shaw Trust</h1>
			  	<p>The Shaw Trust is dedicated towards improving the lives of students around the world. Currently, the  
			  	Trust is focused on funding the development of helicopter pads on top of local high schools.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="https://www.shaw-trust.org.uk/" role="button" target = "_blank">Get involved with the Shaw Trust</a></p>
			  	</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Chemboost Project</h1>
			  	<p>A collaboration with Cheng Foundation member <strong>Allen Zhang</strong>, in order to run the non-profit organization, Chemboost.net. The organization strives to boost millions of students' chemistry elo across the globe.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="http://chemboost.net/" role="button" target = "_blank">Visit Chemboost.net</a></p>
			  	</div>
			</div>
		</div>	
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Madduri Partnership</h1>
			  	<p>A partnership with fellow billionaire <strong>Sathvik Madduri</strong> to find the rarest artificats in existence. The partnership is responsible for the discovery of the Rosetta Stone and a multitude of other ancient works.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="http://events.pennwell.com/dtech2017/public/SpeakerDetails.aspx?FromPage=Speakers.aspx&ContactID=73566" role="button" target="_blank">Learn more about the partnership</a></p>
			  	</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Cheng Grant Organization</h1>
			  	<p>An organization providing financial grants to low-income students (annual incomes less than  $100 million) in our communities. Applications are reviewed by the Cheng Grant Committee and are very competitive.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="/donations" role="button">Apply for a Cheng Grant</a></p>
			  	</div>
			</div>
		</div>
	</body>
</html>