<!DOCTYPE html>
<html>
	<head>
			<title>Testimonials-The Cheng Foundation</title>
	</head>
	<body class="big_top">
		<h1 class="imp_text cent_text pg_head"><strong>Testimonials</strong></h1>
		<h4 class="cent_text">Here are some anonymous scrambled responses from a few of our satisfied clients.</h4>
		<h4 class="cent_text">(Click on the arrows to view / collapse responses)</h4>		
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_barry">
					<h3 class="panel-title cent_text">Warry Bei <span class="pull-right glyphicon glyphicon-menu-down"></span> </h3> 
				</div>
				<div class="panel-body close_barry_this">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Barry.JPG alt="Barry"> -->
					<p class="imp_text big_print ">"The Cheng Grant Organization was responsible for permanently destroying my motivation to help people and I live in a cardboard shack."</p>
				</div>
			</div>
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_kevin">
					<h3 class="panel-title cent_text">Cevin Khen <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
				</div>
				<div class="panel-body close_kevin_this collapse">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Kevin_Hori.JPG alt="Kevin"> -->
					<p class="imp_text big_print ">"The Cheng Foundation ruined my life. Because of the Cheng Food Aid Program, I now live in a cardboard shack."</p>
				</div>
			</div>		
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_daniel">
					<h3 class="panel-title cent_text">Laniel Dee <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
				</div>
				<div class="panel-body close_daniel_this collapse">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Zheng_Vert2.JPG alt="Allen"> -->
					<p class="imp_text big_print">"Mem."</p>
				</div>
			</div>
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_julien">
					<h3 class="panel-title cent_text">Zulien Jhu <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
				</div>
				<div class="panel-body close_julien_this collapse">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Zheng_Vert2.JPG alt="Allen"> -->
					<p class="imp_text big_print">"Are we still friends?"</p>
				</div>
			</div>
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_satvik">
					<h3 class="panel-title cent_text">Mathvik Sadduri <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
				</div>
				<div class="panel-body close_satvik_this collapse">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Zheng_Vert2.JPG alt="Allen"> -->
					<p class="imp_text big_print">"The Cheng Foundation scammed me out of my entire fortune of billions when I partnered with them. I now live in a cardboard shack."</p>
				</div>
			</div>
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_allen">
					<h3 class="panel-title cent_text">Zllen Aheng <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
				</div>
				<div class="panel-body close_allen_this collapse">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Zheng_Vert2.JPG alt="Allen"> -->
					<p class="imp_text big_print">"The Cheng Foundation demoted me back into Bone Pit through their grant program. Because of this, my parents disowned me and I now live in a cardboard shack."</p>
				</div>
			</div>	
			<div class="panel panel-default col-lg-6 col-lg-offset-3 med_pad_bot">
				<div class="panel-heading close_jason">
					<h3 class="panel-title cent_text">Sason Jhaw <span class="pull-right glyphicon glyphicon-menu-down"></span></h3>
				</div>
				<div class="panel-body close_jason_this collapse">
					<!-- <img class="testimonial_img img-responsive center-block" src=images/Zheng_Vert2.JPG alt="Allen"> -->
					<p class="imp_text big_print">"I am sorry for only having silver-flaked caviar today instead of your usual gold-flaked recipe. I beg you to be lenient in the punishment that I am about to receive and not imprision me in my cardboard shack."</p>
				</div>
			</div>
		<div class="bot_box med_pad_bot pad_top">
			<p>&nbsp &nbsp &nbsp &nbsp &nbsp </p>
		</div>
	</body>
	<script>
	$(document).ready(function(){
		function change_barry_credits(){
			$(".close_barry_this").fadeToggle(200); 
		}
		function change_kevin_credits(){
			$(".close_kevin_this").fadeToggle(200); 
		}	 
		function change_allen_credits(){
			$(".close_allen_this").fadeToggle(200); 
		}
		function change_daniel_credits(){
			$(".close_daniel_this").fadeToggle(200); 
		}
		function change_julien_credits(){
			$(".close_julien_this").fadeToggle(200); 
		}
		function change_satvik_credits(){
			$(".close_satvik_this").fadeToggle(200); 
		}
		function change_jason_credits(){
			$(".close_jason_this").fadeToggle(200); 
		}
		
		$('.close_barry').on("click",change_barry_credits)
		$('.close_kevin').on("click",change_kevin_credits)
		$('.close_allen').on("click",change_allen_credits)
		$('.close_daniel').on("click",change_daniel_credits)
		$('.close_julien').on("click",change_julien_credits)
		$('.close_satvik').on("click",change_satvik_credits)
		$('.close_jason').on("click",change_jason_credits)		
	});
	</script>
</html>