<footer class="footer">
	<div class="container">
		<h5 class="cent_text no_pad">Created by Pranav Sriram | The Cheng Foundation Copyright 2017: <a href="http://apperun.com/">Apperun Technologies</a></h5>
	</div> 
</footer>